*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.outer{
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
}
.inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border:3px solid #cdcdcd;
    border-radius: 10px;
    margin: auto;
    margin-top: 60px;
}
.inner form{
    margin: auto;
    padding-top: 10px;
    height: 492.367px;
    width: 400px;
    background-color:white;
    border-radius: 10px;
}
.inner .google button{
    display: flex;
    padding-bottom: -20px; 
}
.inner h1{
    text-align: center;
    margin-bottom: 20px;
    color: black;
    opacity: 1;
    background: transparent;
}
.inner .google button p{
    margin-left: 0px;

}
.inner label{
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background: transparent;
   
}
.inner label input{
    padding: 5px;
    border-radius: 5px;
    width: 280px;
    height: 20px;
    color: black;
    opacity: 0.8;
    font-weight: 800;
    border:3px solid #eeeeee;
    outline: none;
    opacity: 1;
    background: white;
}
.inner label input::placeholder{
    color:#7f8286;
    font-weight: 800;
}
.inner label input:hover{
    border:3px solid #ddd7d7;
    margin-top: -0.5px;
}

#mob{
    margin-top: 30px;
}
.inner label button{
    padding: 7px;
    width: 130px;
    border-radius: 25px;
    border:3px solid #eeeeee;
    font-weight: 800;
    color: black;
    display: block;
    margin: auto;
    margin-bottom: 10px; 
    margin-top: 10px;
    outline: none;
    opacity: 1; 
    background-color: white;
}
.inner label button:hover{
    background: #eeeeee;
    border:3px solid #ddd7d7;
}

.inner label a{
    margin: auto;
    color: black;
    font-weight: 800;
    opacity: 1;
    background: transparent;
    text-decoration: none;
}
.inner label a:hover{
    opacity: 0.7;
}
#signin{
    margin-top: 0px;
}
.icon{
    float: right;
    margin-top: -27px;
    margin-left: 265px;
    color: black;
}
#showPassword,
.inner label span {
    display: flex;
    flex-direction: row;
    background: transparent;
}
.inner label .far{
    cursor: pointer;
}
.google,
.google a{
    background: transparent;
}
#google-icon{
    display:inline-block;
    position:relative;
    right: 290px;
    top: 7px;
    background: transparent;
}
#sign-in-with-google{
    display: inline-block;
    padding-left: 0px;
    height: 35px;
    width: 295px;
    margin-left: 50px;
    margin-bottom: 30px;
    border-radius: 5px;
    color: black;
    font-weight: 800;
    border:3px solid #eeeeee;
    opacity: 1;
    background: white;
    outline: none;
}
#sign-in-with-google:hover{
    border:3px solid #ddd7d7;
    background: #eeeeee;
    margin-top: -0.5px;
}
@media only screen and (max-width: 818px){
    .inner{
        margin-top: 30px;
    }
}
@media only screen and (max-width: 430px){
    .inner{
        border: none;
        
    }  
}